<h2>Register</h2>
<form name="form" #f="ngForm" (ngSubmit)="register()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username"  [(ngModel)]="model.username" required />
        <div *ngIf="formErrors.username" class="alert alert-danger">
            {{ formErrors.username }}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" id="password"  [(ngModel)]="model.password" required />
        <div *ngIf="formErrors.password" class="alert alert-danger">
            {{ formErrors.password }}
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="!ngForm.form.valid" class="btn btn-primary">S'enregistrer</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form>
<style>
    :host {
        display: block;
        background: white;
        padding: 20px;
    }
</style>
