<div class="header">
    <div class="user-picture" *ngIf="post.user.pictureUrl">
        <img src="{{post.user.pictureUrl}}" width="50" height="50" />
    </div>
    <div class="username">
        {{post.user.username}}
    </div>
    <div class="right">
        <div class="date">{{postDate}}</div>
        <div class="actions"><a [class.liked]="post.liked" (click)="toLike()"><i class="glyphicon glyphicon-heart"></i></a></div>
    </div>
</div>
<div class="body">
    <pre class="message">{{post.message}}</pre>
    <div *ngIf="post.content">
        <div class="image" *ngIf="post.content.type === 'picture'">
            <a href="{{post.content.value.mediaUrl}}" target="_blank"> <img src="{{post.content.value.mediaUrl}}" width="200" height="150" /></a>
        </div>
        <div>
            <a href="{{post.content.value.mediaUrl}}" target="_blank">
                <video class="video" width="320" height="240" autoplay>
                    <source src="{{post.content.value.mediaUrl}}" type="video/mp4">
                    <source src="{{post.content.value.mediaUrl}}" type="video/ogv">
                    <source src="{{post.content.value.mediaUrl}}" type="video/webm">
                </video>
            </a>
        </div>
        <div class="image" *ngIf="post.content.type === 'youtube'">
            <object width="320" height="240" data="{{post.content.value.mediaUrl}}">
                </object >
        </div>
    </div>
</div>
<div class="footer">
    <!-- Itérer sur les commentaires -->
    <div *ngFor="let comment of post.comments">
        <post-comment [comment]="comment"></post-comment>
    </div>
    <div class="social-app-inputs">
        <user-inputs [channelId]="channelId" [inputLabel]="inputLabel" [postToComment]="post"></user-inputs>
    </div>
</div>
<style>
    :host {
        background: white;
        display: block;
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        margin-top: 20px;
    }

    .bode > .image {
        width: 200px;
        height: 150px;
    }
    .user-picture {
        width: 50px;
        height: 50px;
        border-radius: 2px;
    }
    .header {
        padding: 15px;
        display: flex;
    }
    .username {
        font-weight: bold;
        padding: 0 15px;
    }
    .right {
        width: 100%;
        display: flex;
        /*align-items: center;*/
        justify-content: flex-end;
    }
    .right > .date {
        padding-right: 50px;
    }
    .actions > a {
        color: white;
        text-shadow: 0 0 3px black;
        cursor: pointer;
    }
    .actions > a.liked {
        color: #f17070;
        text-shadow: none;
        cursor: default;
    }
    pre.message {
        background: none;
        margin:0;
        border: none;
    }
</style>